<div class="container">
    
    <div class="col-sm-6">
        <h2>Post List</h2>
      <!-- <li  *ngFor= "let userp of userpost" >
<h2>Post List</h2>
      </li> -->
        <table class="table table-bordered">
        <tr><th>Title</th><th>Body</th><th>view comments</th></tr>
      <tr *ngFor="let userp of userpost">
          <ng-container *ngIf="userp.userId==userid" >
              <td >{{userp.title}}</td>
              <td >{{userp.body}}</td>
              <td (click)="oncommentshow(userp.id,userid)">view Comments</td>
             </ng-container>
 
      </tr></table>
    </div>
    <div class="col-sm-3">
    <h2>Albums List</h2>
    
      <!-- <li  *ngFor= "let userp of userpost" >

      </li> -->
        <table class="table table-bordered">
        <tr><th>Title</th><th>view Albums</th></tr>
      <tr *ngFor="let userp of useralbums">
          <ng-container *ngIf="userp.userId==userid" >
              <td >{{userp.title}}</td>
              <td (click)="oncommentAlbums(userp.id,userid)">view Album</td>
             </ng-container>
 
      </tr></table>
    </div>
    <div class="col-sm-3">
        <h2>Todo List</h2>
        
          <!-- <li  *ngFor= "let userp of userpost" >
    
          </li> -->
            <table class="table table-bordered">
            <tr><th>Title</th>
             <th>Completed</th></tr>
          <tr *ngFor="let userp of todos">
              <ng-container *ngIf="userp.userId==userid" >
                  <td >{{userp.title}}</td>
                    <td >{{userp.completed}}</td> 
                 </ng-container>
     
          </tr></table>
        </div>
  
  </div>
