<div class="container">
  <h1>User List</h1>
  <div class="col-sm-12">
      <table class="table table-bordered">
      <tr><th>Name</th><th>Email</th><th>City</th><th>Phone</th><th>details</th></tr>
    <tr *ngFor= "let user of userlist" ><td >{{user.name}}</td>
      <td >{{user.email}}</td>
      <td >{{user.address.city}}</td>
      <td >{{user.phone}}</td>
    <td (click)="userView(user.id)">View Details</td></tr></table>
  </div>
  <!-- <div class="col-sm-">
      test2
    </div> -->
</div>