<div class="container">
    
    <div class="col-sm-6">
        <h2>Albums List</h2>
      <!-- <li  *ngFor= "let userp of userpost" >
<h2>Post List</h2>
      </li> -->
  
     
        <table class="table table-bordered">
        <!-- <tr><th>Details</th><th>email</th><th>Name</th></tr> -->
      <tr *ngFor="let userp of albums">
          <ng-container *ngIf="userp.albumId==albumid" >
              <ng-container *ngIf="userp.id==userid" >
              <td >
                Name:{{userp.title}}
                <img src="{{userp.thumbnailUrl}}">
                 <!-- <td>{{userp.email}}</td> 
                  <td>{{userp.name}}</td> -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
Large Image
</button>
</td>
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{{userp.title}}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <img src="{{userp.url}}">
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
                </ng-container>
             </ng-container>
 
      </tr></table>
    </div>
  

<!-- The Modal -->

    </div>
