<div class="container">
    
    <div class="col-sm-6">
        <h2>Comments List</h2>
      <!-- <li  *ngFor= "let userp of userpost" >
<h2>Post List</h2>
      </li> -->
  
     
        <table class="table table-bordered">
        <tr><th>Details</th><th>email</th><th>Name</th></tr>
      <tr *ngFor="let userp of comments">
          <ng-container *ngIf="userp.postId==postid" >
              <ng-container *ngIf="userp.id==userid" >
              <td >{{userp.body}}</td>
                 <td>{{userp.email}}</td> 
                  <td>{{userp.name}}</td>
          
                </ng-container>
             </ng-container>
 
      </tr></table>
    </div>
    </div>
